
.head-container{
    display: flex;
    color: #FFFFFF;
    width: 92%;
    align-items: center;
}
.head-content{
    width: 50%;
}
.head-content h1{
    font-size: 2.5em;
}
.pp{
    margin: 2em 0;
    line-height: 2;
    width: 500px;
}
.image{
    width: 50%;
}
.image img{
    width: 100%;
}
/*------------------------Join waitlist--------------------------*/
.modal-background{
    position: fixed;
    top: -110%;
    left:0; 
    height: 100%;
    width:100%;
    z-index: 3;
    background: rgba(0, 0, 0, 0.8);
}
#joinjoin{
    top: 0;
}
.modal-box{
    width: 250px;
    margin: 10% auto;
    background-color: #FFFFFF;
    padding: 2em 2em 3em;
    color: #000000;
    text-align: center;
    border-radius: 10px;
}
.modal-box input{
    display: block;
    box-sizing: border-box;
    height: 2em;
    width: 100%;
    font-family: inherit;
    border-radius: 10px;
    margin-top: 1.5em;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0 2%;
    width: 100%;

}

#join h3{
    margin: 2em 0; 
}
#join .btn{
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 2em;
}
.close{
    cursor: pointer;
    float: right;
}
/*-------------media queries-----------*/
@media only screen and (max-width: 360px){
    .head-container{
        flex-direction: column;
        color: #FFFFFF;
        width: 98%;
        align-items: center;
    }
    .head-content{
        width: 300px;
        font-size: .8em;
        text-align: center;
        margin: 14% 0 14%;
    }
    .pp{
        width: 300px;
    }
    .image{
        width: 90%;
    }
    .modal-box{
        width: 300px;
        border-radius: 5px;
    }

}
