:root{
    --border: 1px solid blue;
}
.intro-wrapper{
    color: white;
    display: flex;
    flex-flow: wrap;
    width: 90%;
    align-items: center;
    padding: 2em 0 5em;
}
.intro-content{
    width: 50%;
}
.intro-content h1{
    font-size: 3em;
}
.intro-content p{
    font-size: 1em;
    margin: 2em 0;
    color: #cfc6c6;
    line-height: 1.5;
}
.img{
    width: 50%;
}
.img img{
    width: 100%;
}
/*-------------media queries-----------*/
@media only screen and (max-width: 425px){
    .intro-wrapper{
        flex-direction: column;
    }
    .intro-content{
        width: 100%;
        text-align: center;
        margin: 10% 0 10%;
    }
    .img{
        width: 100%;
    }
    .intro-content h1{
        font-size: 2em;
    }
    .intro-content p{
        font-size: 1em;
    }

}
/*-------------media queries-----------*/
@media only screen and (max-width: 360px){
    .intro-wrapper{
        flex-direction: column;
    }
    .intro-content{
        width: 100%;
        text-align: center;
        margin: 10% 0 10%;
    }
    .img{
        width: 100%;
    }
    .intro-content h1{
        font-size: 2em;
    }
    .intro-content p{
        font-size: 1em;
    }

}